<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>927539067884-s1cmepnakbejm402a1m5628qmr8bdnmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927539067884-s1cmepnakbejm402a1m5628qmr8bdnmu</string>
	<key>API_KEY</key>
	<string>AIzaSyDOcac4MStz_P0l1EStz01tNwfoMfEHM9M</string>
	<key>GCM_SENDER_ID</key>
	<string>927539067884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marip</string>
	<key>PROJECT_ID</key>
	<string>marip-d8dcf</string>
	<key>STORAGE_BUCKET</key>
	<string>marip-d8dcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927539067884:ios:054853ca87ad8ba7</string>
	<key>DATABASE_URL</key>
	<string>https://marip-d8dcf.firebaseio.com</string>
</dict>
</plist>